input {
    height: inherit !important;
}

.svg-tooltip {
    position: absolute;
    border-color: #b72dfc;
    border-style: solid;
    border-width: 1.5px;
    padding: 3px;
}

#tooltip-heatmap {
    backdrop-filter: blur(12px) brightness(150%);
}

#tooltip-scatter {
    backdrop-filter: blur(12px);
}

th, td {
    border-right: 1px solid black;
    border-style: dotted;
    padding: 5px;
    border-collapse: collapse;
  }

th:last-child, td:last-child {
    border-right: 0px;   
}