@font-face {
    font-family: Aileron-Thin;
    src: url("Aileron-Thin.otf") format("opentype");
}

/* ::root {

} */



body {
    font-family: Aileron-Thin;
    letter-spacing: .03em;
    color: black;
}

input {
    all: unset;
}

input {
    height: inherit !important;
    border-color: black !important;
    border-style: solid;
    border-width: 1px;
    color: black !important;
    caret-color: black;
    accent-color: purple;
}

.cell {
    padding: 0px !important;
}

h1 {
    margin: 0px 0px 18px 0px;
}

.svg-tooltip {
    position: absolute;
    /* border-color: #b72dfc; */
    border-color: black;
    border-style: solid;
    border-width: 1.5px;
    padding: 3px;
}

#tooltip-heatmap {
    backdrop-filter: blur(12px) brightness(150%);
}

#tooltip-scatter {
    backdrop-filter: blur(12px);
}

#table-scatterplot td, th {
    border-right: 1px solid black;
    border-style: dotted;
    padding: 5px;
    border-collapse: collapse;
  }

#table-heatmap {
    padding: 0px;
    margin: 0px;
}

#table-heatmap td, th  {
    padding: 2px 5px 2px 5px;
    border-collapse: collapse;
    margin: 0px !important;
    line-height: 100%;
    font-size: 8px;
}

#heatmap-percent {
    font-size: 25px;
}

.heatmap-tooltip-p {
    margin: 0px;
    min-height: 0px;
    height: auto;
}

th:last-child, td:last-child {
    border-right: 0px;   
}